---
import ProfileLayout from '../../layouts/profile.astro';
import { GET } from '../api/user.json';

const response = await GET(Astro);
const user = await response.json()
---

<ProfileLayout sectionTitle="Your info - Edit">
    <form data-userid={user?.id}>
        <ul class="space-y-8 text-center">
            <li class="flex justify-center relative">
                <img src={user?.image?.url}>
                <div class="absolute bottom-0 bg-black w-full opacity-80">Change &#9998</div>
            </li>
            <li class="flex justify-between border-2 rounded-md p-2 bg-gray-400">
                <div>Email</div>
                <div class="font-bold">{user?.email}</div>
            </li>
            <li class="flex justify-between border-2 rounded-md p-2 cursor-pointer">
                <label for="username">Username</label>
                <input id="username" class="text-black rounded-md" placeholder={user?.username}/>
            </li>
            <li class="text-left border-2 rounded-md p-2 space-y-4 cursor-pointer">
                <div class="mb-4">Bio</div>
                <textarea id="bio" class="text-black rounded-md w-full h-16" placeholder={user?.bio ?? ''}/>
            </li>
            <li>
                <input type="submit" class="rounded-md border-2 cursor-pointer p-2" value="Save changes"/>
            </li>
        </ul>
    </form>
    <script>
        const form = document.querySelector('form')!;
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const userId = form.getAttribute('data-userid');
            const username = (document.querySelector('#username') as HTMLInputElement)!.value;
            const bio = (document.querySelector('#bio') as HTMLInputElement)!.value;

            await fetch('/api/user.json', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: userId, username, bio })
            });
            window.location.href = '/profile/your-info';
        });
    </script>

</ProfileLayout>