---
import ProfileLayout from '../../layouts/profile.astro';
import { getSession } from 'auth-astro/server';
import { getUser } from '../../db/user';

const session = await getSession(Astro.request);
const user = await getUser(session);
---

<ProfileLayout sectionTitle="Your info">
    <ul class="space-y-8 text-center">
        <li class="flex justify-center">
            <img src={user?.image?.url}>
        </li>
        <li class="flex justify-between border-2 rounded-md p-2">
            <div>Email</div>
            <div class="font-bold">{user?.email}</div>
        </li>
        <li class="flex justify-between border-2 rounded-md p-2">
            <div>Username</div>
            <div class="font-bold">{user?.username}</div>
        </li>
        { user?.bio && <li class="text-left border-2 rounded-md p-2">
            <div class="mb-4">Bio</div>
            <div>{user?.bio}</div>
        </li> }
        <li>
            <a href="/profile/edit"><button class="border-2 rounded-md p-2">Edit &#9998</button></a>
        </li>
    </ul>
</ProfileLayout>