---
import MainLayout from '../layouts/main.astro'
---

<MainLayout title="Culinaro - Welcome">
    <section class="flex justify-center mt-4">
        <div class="p-16">
            <h1 class="text-4xl font-bold mb-4">Welcome to Culinaro</h1>
            <p class="text-lg">The best place to find and share recipes</p>
        </div>
        <div>
           <img class="h-96" src="/home1.jpg">
        </div>
    </section>
    <section class="flex justify-center mt-4">
        <div>
            <img class="h-96" src="/home2.jpg">
        </div>
        <div class="p-16">
            <h1 class="text-4xl font-bold mb-4">Share your recipes</h1>
            <p class="text-lg">Share your skills and discoveries to the world</p>
        </div>
    </section>
    <section class="flex justify-center mt-4">
        <div class="p-16">
            <h1 class="text-4xl font-bold mb-4">Find other cooks</h1>
            <p class="text-lg">Join other people to connect over food and flavors</p>
        </div>
        <div>
            <img class="h-96" src="/home3.jpg">
        </div>
    </section>
</MainLayout>
